
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-8">
      <img src="assets/img/Logo_MelanoQ_Login.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-sm-4">
        <form [formGroup]="authForm" (ngSubmit)="saveForm()" >
          <div class="mb-3 form-control-sm">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username" >
          </div>
          <div class="mb-3 form-control-sm">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <div class="mb-4 form-control-sm">
            <button type="submit" class="btn btn-warning">Login</button>
          </div>
        </form>
    </div>

  </div>


</div>



