<br>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
  </div>
  <div *ngIf="user === 'admin'" class="col">
    <button type="button" class="btn btn-outline-secondary"
            (click)="showRegistration = !showRegistration">
      Aggiungi Operatore </button>
  </div>


</div>
<hr>
<div class="row">
  <div class="col-3">
    <h4>Lista Questionari</h4>
    <hr>
    <app-patient-list [patients]="patients" (selectPatient)="selectPatient($event)" (deletedPatient)="deletedPatient($event)"
    (editedPatient)="editPatient($event)" (createNewPatient)="createNewPatient()"></app-patient-list>
  </div>
  <div class="col-9">

    <app-user *ngIf="user==='admin' && showRegistration" [user]="user" (registrationOk)="showRegistration = false"> </app-user>
    <app-patient-details [patient]="this.selectedPatient"></app-patient-details>
    <app-patient-form *ngIf="editedPatient" [patient]="this.editedPatient"
                      (patientCreated)="patientCreated($event)"
                      (patientUpdated)="patientUpdated($event)">
    </app-patient-form>
  </div>
</div>



