<button type="button" class="btn btn-primary" (click)="newPatient()">Nuovo Questionario</button>
<hr>

<div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3" style="width: auto; max-height: 250px;">
    <div class="row">
      <div class="col">
        <strong>Soggetto</strong>
      </div>
      <div class="col">
        <strong>Tipo</strong>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>

<div *ngFor="let patient of patients" class="patient-item">
    <div class="row">
      <div class="col" style="color: blue;">
        <h6></h6>
        <h6 (click)="patientClicked(patient)" *ngIf="patient.subject === 'Controllo';">Controllo </h6>
        <h6 (click)="patientClicked(patient)" *ngIf="patient.subject === 'Melanoma';">Melanoma</h6>
      </div>
      <div class="col" style="color: blue;">
        <h6></h6>
        {{ patient.melanomaType }}
      </div>
      <div class="col-2">
        <fa-icon [icon]="faUserEdit" size="xs" style="color: blue;" (click)="editPatient(patient)"></fa-icon>
      </div>
      <div class="col-2">
        <fa-icon [icon]="faUserMinus" size="xs" style="color: crimson" (click)="deletePatient(patient)"></fa-icon>
      </div>
    </div>
  </div>
</div>




