<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="mb-3 form-control-sm">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" >
      </div>
      <div class="mb-3 form-control-sm">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password">
      </div>
      <div class="mb-4 form-control-sm">
        <button (click)="registerOp()" class="btn btn-warning">Registra Operatore</button>
      </div>
    </div>
  </div>
</div>
